.StickyHeader {
  align-items: center;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(233, 233, 233, 0.4);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  height: 75px;
  left: 0;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  padding: 0 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
  text-transform: capitalize;
  background-color: #3f51b5;
}

.StickyHeader span {
  color: #fff;
  display: inline-flex;
  text-transform: capitalize;
  font: 300 1.2rem 'Agenda', Arial, sans-serif;
  padding: 0 1.2rem;
  pointer-events: auto;
}

.ProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
